@inject NavigationManager Urihelper
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Syncfusion Blazor Loan Calculator - Easily calculate loan payments, interest rates, and amortization schedules.">
    <meta name="keywords" content="blazor loancalculator, syncfusion loancalculator, wasm loancalculator, loan-calculator, online loan-calculator, online loancalculator, loancalculator">
    <meta name="author" content="Syncfusion">
    <title>Syncfusion Blazor Loan Calculator | Calculate Loan Payments, Interest, and Amortization</title>
    <base href="/" />
    <link href=@Urihelper.Uri rel="canonical" />
    <!-- Google Tag Manager -->
    <!-- Load GTM-P3WXFWCW immediately on page load  -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-P3WXFWCW');
    </script>
    <!-- Load GTM-W8WD8WN on user interaction -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const events = ["mousemove", "scroll", "keydown", "touchstart"];

            function loadGTM() {
                events.forEach(event => document.removeEventListener(event, loadGTM));
                (function (w, d, s, l, i) {
                    w[l] = w[l] || []; w[l].push({
                        'gtm.start':
                            new Date().getTime(), event: 'gtm.js'
                    }); var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
                })(window, document, 'script', 'dataLayer', 'GTM-W8WD8WN');
            }
            events.forEach(event => document.addEventListener(event, loadGTM, { once: true }));
        });
    </script>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="css/bootstrap//bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link href="css/IndexDark.css" rel="stylesheet" />
    <link rel="stylesheet" href="LoanCalculator.styles.css" />
    <link id="theme-link" href="_content/Syncfusion.Blazor.Themes/tailwind.css" rel="stylesheet" />
    <link href="manifest.json" rel="manifest" />
    <link rel="apple-touch-icon" sizes="512x512" href="icon-512.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="icon-192.png" />
    <HeadOutlet @rendermode="@InteractiveWebAssembly" />
</head>

<body class="light">
    <div id="app">
        <div class="loading-body-overlay">
            <div id="loader" class="loan-calculator-loading">
                <svg class="circular" height="40" width="40">
                    <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6" stroke-miterlimit="10"></circle>
                </svg>
            </div>
            <div class="loading-caption">
                <h4 class="my-4" id="Loading-Text">Loading Loan Calculator...</h4>
            </div>
        </div>
    </div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script>
        setTimeout(function () {
            var overlayEle = document.querySelector(".loading-body-overlay");
            if (overlayEle) {
                overlayEle.style.display = "none";
            }
        }, 4000);
    </script>
    <Routes @rendermode="@InteractiveWebAssembly" />
    <!-- Google Tag Manager (noscript) -->
    <!--Page Load-->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P3WXFWCW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!--Interaction-->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8WD8WN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script src="_framework/blazor.web.js"></script>
    <script>navigator.serviceWorker.register('service-worker.js');</script>
    <script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js" type="text/javascript"></script>
    <script>


        function ChangeStyleSheet() {
            const body = document.getElementsByTagName('body');
            const link = document.getElementById('theme-link');
            const styleSheet = body[0].className == "light" ? 'tailwind' : 'tailwind-dark';
            link.setAttribute('href', `_content/Syncfusion.Blazor.Themes/${styleSheet}.css`);
        }

        function toggleTheme(theme) {
            var bodyElement = document.body
            if (bodyElement.classList.contains('light'))
                bodyElement.classList.remove('light');
            if (bodyElement.classList.contains('dark'))
                bodyElement.classList.remove('dark');
            var selectedTheme = theme === "Dark" ? "dark" : "light";
            bodyElement.classList.add(selectedTheme);
            ChangeStyleSheet();
        }

        function getViewportWidth() {
            return window.innerWidth;
        }

        function addResizeListener(dotNetObjectRef) {
            setTimeout(
                window.addEventListener('resize', function () {
                    dotNetObjectRef.invokeMethodAsync('OnWindowResized', window.innerWidth);
                }), 2000);
        }

    </script>
</body>

</html>
